table.sortable thead tr  .order-asc {
    background-image: url(../media/icon/asc.png); 
}
table.sortable thead tr .order-desc {
    background-image: url(../media/icon/desc.png); 
}

table.sortable thead tr th {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    background-image: url(../media/icon/bg.png);
}