@media screen and (max-width: 992px) {
    .header {
        width: 100%;     
    }
    
    .header-brand {
        width: 100%;
        height: 98px;
        padding: 25px;
        display: flex;
        justify-content: space-between;
    }

    .drawer.drawer-start {
        left: 0;
        transform: translateX(-100%);
    }

    .drawer {
        display: flex !important;
        overflow: auto;
        position: fixed; 
        bottom: 0;
        flex-direction: column;
    }

    .logo {
        display: inline;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .logo h5 {
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .aside {
        width: unset;
    }

    .sidebar-toggle{
        display: none;
    }
    
    .offcanvas span {
        display: inline;
    }
}

@media screen and (min-width: 992px) {

    .header {
        display: flex; 
        width: 100%;
    }

    .header-fixed, .header-brand {
        position: fixed;
        top: 0;
        left: 0;
    }

    .header-brand {
        width: 105px;
        /* height: 98px; */
        padding: 0 25px;
        margin-top: 10px;
        margin-left: 10px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        transition: all .5s ease;
    }
    
    .logo {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navbar-toggler {
        display: none;
    }

    .wrapper {
        padding-left: 160px;
        /* transition: all .3s ease; */
    }

    .header, .header-brand {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    
    .aside {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-bottom: 10px;
        margin-left: 10px;
        visibility: unset !important;
    }

    .login-container {
        height: 70vh;
        margin-top: 8%;
        background-color: #8d877b14;
        border-radius: 30px;
    }

    .sd-login {
        width: 59%;
        height: 100%;
        /* background-color: aqua !important; */
        float: right;
    }

    .sd-background {
        width: 41%;
        height: 100%;
        background: url('https://images.unsplash.com/photo-1575737685561-3ce224445a59?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688');
        background-size: cover;
        float: left;
    }

    ::-webkit-scrollbar{
        width: 4px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(229, 229, 229);
        border-radius: 10px;
    }
}