/* Topbar */
.topbar {
    display: flex;
    align-items: center;
    width: 100%;
}

/* content */

.content {
    padding-left: 6vh !important;
    padding-right: 6vh !important;
}

#wrapper-canvas #header-canvas {
    text-align: center;
    background-color: #4fcada65;
    padding: 10px;
}

#wrapper-canvas canvas {
    background-color: #676153;
}

#wrapper-canvas {
    margin-bottom: 5vh;
    transition: .5s ease;
}

#header-canvas {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#header-canvas .icon {
    display: flex;
}

/* end content */

/* end - Topbar */

.round-cs-6 {
    border-radius: 1rem !important;
}

.round-cs-6 {
    border-radius: .5rem !important;
}

.logo h5 {
    display: inline;
    margin: auto 0;
}

#btn-header svg:hover {
    fill: blue;
}

#item-side:hover {
    background-color: #e9e9e9;
    cursor: pointer;
    border-radius: 10px;
}

#item-side h5 {
    font-family: "poppins";
    font-size: 0.9rem;
}

/* sidebar */
.aside {
    width: 300px;
}

.aside {
    position: fixed;
    top: 98px;
    left: 0;
    bottom: 0;
    transition: left 0.3s ease;
    padding-top: 3vw;
}

.aside-menu {
    height: 450px;
    overflow-y: hidden;
    padding-left: 25px;
    padding-right: 25px;
}

.aside-menu:hover {
    overflow-y: auto;
}

.active-menu {
    background-color: #4fc9da;
    color: white !important;
    border-radius: 10px;
}

.menu-link {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #676153;
    font-weight: 500;
}

.menu-link p {
    margin: auto 0;
}

.menu-item {
    padding: 10px;
    color: #676153;
}

.menu-item:hover {
    color: #4fc9da;
}

.aside-footer {
    position: relative;
    bottom: 0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5vh;
}

.offcanvas {
    justify-content: space-between;
}

.img-user {
    overflow: hidden;
}
/* end sidebar */
#user h5 {
    font-size: 1rem;
}
