/*  login */

.login-container {
  margin-top: 8%;
  border-radius: 30px;
  box-shadow: 1px 14px 15px 1px #dfdfdf;
}

.sd-login {
  border-top-right-radius: 4vh;
  border-bottom-right-radius: 4vh;
}

.form-login {
  margin: 1.5rem auto;
}

.sd-background,
.sd-background-reg {
  border-top-left-radius: 4vh;
  border-bottom-left-radius: 4vh;
}

.clear {
  clear: both;
}
