/* content */

.content {
    padding-left: 6vh !important;
    padding-right: 6vh !important;
}

.content #clear-data {
    margin-left: 20px;
}

#wrapper-canvas #header-canvas {
    text-align: center;
    padding: 10px;
}

#wrapper-canvas {
    margin-bottom: 5vh;
    transition: 0.5s ease;
}

#header-canvas {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 2vh;
    box-shadow: 2px 4px 4px 2px #0000000f;
}

#header-canvas h5 {
    color: #7666f4;
}

#header-canvas .icon {
    display: flex;
}

#btn-edit.btn:hover,
#btn-stratch.btn:hover {
    background-color: #e9e9e9!important;
}

#btn-delete.btn:hover {
    background-color: red;
    color: white;
}

/* end content */
